body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

hr {
    color: sienna;
}

/* 鼠标悬停在按钮上的效果 */
button:hover {
    background-color: #0056b3;
}

/* 设计卡片样式 */
.card {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    /* 圆角 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* 阴影 */
    text-align: center;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

a:link {
    color: #000000;
}

/* 鼠标移动到链接上 */
a:hover {
    color: #FF00FF;
}

/* 鼠标点击时 */
a:active {
    color: #0000FF;
}




.div_css {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

/* border 类型 */
p.none {
    border-style: none;
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}