body {
    background-color:#d0e4fe;
}
h1 {
    color:orange;
    text-align:center;
}
p {
    font-family:"Times New Roman";
    font-size:20px;
}

hr {color:sienna;}

/* 鼠标悬停在按钮上的效果 */
button:hover {
    background-color: #0056b3;
}

/* 设计卡片样式 */
.card {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;      /* 圆角 */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* 阴影 */
    text-align: center;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

