body {
    background-color: gainsboro;
    padding: 35px 50px;
}


.center {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    /* 圆角 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* 阴影 */
    text-align: center;
    margin: auto;
}


.digital-time {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 15px 0;
    color: #20627c;
}


.full-date {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #1313e0;
}
